<link rel="stylesheet" href="/css/footer.css">
<footer>
  <div class="footer-container">
    <div class="left">
      <h4>The name “Deku” is inspired by My Hero Academia, reflecting growth through learning and perseverance.
</h4>
      <h4>All Rights reserved to @AmanKumar</h4>
    </div>
    <div class="right">
      <a class="btm" href="https://www.linkedin.com/in/aman-kumar-049bb8233/" target="_blank" style="margin-right : 10px">LinkedIn</a>
      <a class="btm" href="https://github.com/amankumarcu" target="_blank">GitHub</a>
    </div>
  </div>
</footer>
