<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="/css/header.css">

<nav class="navbar glass-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand navtext" href="http://localhost:3000/">
      <img src="/images/logo.svg" alt="Logo" width="35" height="28" class="d-inline-block svg align-text-top">
      Deku Personal Blogs
    </a>
    <form class="d-flex" role="search">
      <a href = "http://localhost:3000/create" class="btn upbtn">Create New +</a>
    </form>
  </div>
</nav>
