<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Title</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <%- include("partials/header.ejs")  %>\
    <div class="page">
        <div class="content">
            <div class="outer-blog">
                <h1 class="blog title">Sample Title</h1>
                <h5 class="blog desc">this is a sample description</h5>
                <p class="blog textInput">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet nulla autem praesentium tempora enim reprehenderit recusandae sapiente magnam fugiat dolorem temporibus officiis, repudiandae nam unde saepe excepturi corrupti id delectus tempore, ab, cum odit! Delectus qui alias maxime fuga expedita. Dolorem beatae laborum reprehenderit fugiat tenetur deserunt repudiandae consequuntur quam ipsum ullam aperiam alias consectetur iste, sit unde molestias, animi velit explicabo hic voluptatum quos! Sequi animi odio laudantium ex enim, exercitationem porro id aliquid maxime! Odio commodi odit perspiciatis quaerat earum animi, ducimus, id esse repudiandae officiis assumenda. Quod, ullam dolores nam aperiam beatae incidunt quo porro laudantium eos, nostrum eaque quibusdam placeat perspiciatis architecto obcaecati ad reprehenderit ab labore, quam culpa blanditiis? Explicabo quo dignissimos corrupti minima! Adipisci id minus vero fugiat tempora eum atque natus dolorem dolore repellat voluptas omnis enim cupiditate sed, delectus placeat pariatur voluptatibus quas quam accusamus optio debitis excepturi provident quia. Quod autem fugiat nemo soluta impedit illo corrupti deserunt cum. Ullam ab atque expedita beatae hic rem consequatur animi odio provident eligendi autem similique nemo quaerat et minima ratione, aperiam distinctio suscipit quisquam facilis! Aperiam sit ducimus odio necessitatibus commodi aliquid, dolores voluptas rerum consequatur veritatis sapiente accusamus? Cumque, aliquam. Est.</p>
            </div>
        </div>
    <%- include("partials/footer.ejs")  %>    
    </div>
</body>
</html>
