.footer-container{
    display: flex;
    justify-content: space-between; /* pushes left & right apart */
  align-items: center;             /* vertical alignment */
  background: rgba(255, 255, 255, 0.03);   /* translucent */
  backdrop-filter: blur(12px);             /* glass blur */
  -webkit-backdrop-filter: blur(12px);     /* Safari support */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  padding: 40px 50px;
  padding-top: 100px;

}
.right {
  margin-left: auto;
  margin-right: 40px;
  
}
.left{
    width:45%
}
h4{
    color: white;
    font-family: "Home Video";
    font-size: 20px;
}
.btm{
    color: white;
    text-decoration: none;
    background-color: #553986;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: "Home Video";
}
.btm:hover{
    color: #553986;
    background-color: white;
    border: 1px solid black;
}